html {

}

body {
    background: #2b332e;
    font-family: solomon;
    color: #707070;;
    margin: 0px;
}

img.main-image {
    position: absolute; 
    top: 0px; 
    left: 400px; 
    width: 700px;
    height: 700px;
}

h1 {

}

h4{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: solomon;
}

h5{
    display: block;
    font-size: 14px;
    color: aliceblue;
    font-family: solomon;
}

/* HERO SECTION */

.hero {
    height: 100vh;
    position: relative;
    background: black;
}

.hero .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50px;
}

.hero .background-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(Stagephoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.hero h1 {
    text-align: center;
}

a.button {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px 25px;
    margin: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

a.button:hover, a.button:active {
    color: black;
    background-color: white;
}

h2 {
    font-size: 75%;   
}

.buffer{
    height: 60vh;
    position: relative;
    float: left;
    width: 100%
}

.buffer .background-image {   
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(fabric.photo.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


b.button {
    position: relative;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px 25px;
    margin: 10px;
    top: 170px;
    left: 350px;
}

.bio .container{
    text-align: left;
    background-color: white;
    color: black;
    padding: 20px;
    /* left: 0px; */
    width: 49%;
    font-family: solomon;
    box-sizing: border-box;
}

.fifty{
    display: inline-block;
    float: left;
}

.skills{
    background-color: white;
    color: black;
    padding: 50px;
    left: 0px;
    width: 49%;
    margin-left: 397px;
    margin-top: -230px;
}

.work-expereince .wrapper{
    color: aliceblue;
}

.right {
    float: right;
}

.left {
    float: left;
}

.wrapper{
    width: 100%;
    color: aliceblue;
}

.work-expereince {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.wrapper .location, .work-experience .wrapper .title{
  margin-top: 5px; 
}

.work-experience .wrapper .dates {
    margin-bottom: 5px;
}
    
.p.right.dates{
    margin-bottom: 0px;
}

.left .title {
margin-top: 5px;  
}

.heading{
    margin: 0px;
    margin-top: 15px;
}



