html {
    
}

body {background: black;
    font-family: sans-serif;
    color: white;}

h1{padding: 50px; margin: 100px; position: relative; left 0px}

  <img style="positon:relative; TOP:100px;LEFT:400px; width:700px;height:700px" src=Stagephoto.jpg"></im>  


h1, h2, h3, h4, h5, h6 {
    
}