html {
    
}

body {
    background: black;
    font-family: sans-serif;
    color: white;
    margin: 0px;
}

img.main-image {
    position: absolute; 
    top: 0px; 
    left: 400px; 
    width: 700px;
    height: 700px;
}

h1 {
    
}


h1, h2, h3, h4, h5, h6 {
    
}

/* HERO SECTION */

.hero {
    height: 100vh;
    position: relative;
}

.hero .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50px;
}

.hero .background-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(Stagephoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.hero h1 {
    text-align: center;
}

a.button {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px 25px;
    margin: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

a.button:hover, a.button:active {
    color: black;
    background-color: white;
}

h2 {
    font-size: 75%;   
}

.overview{
    text-align: center;
    background-color: white;
    color: black;
    padding: 100px;
    left: 0px;
}
    
.buffer{
    padding: 100px 100px;
    margin: 100px;}

.buffer .background-image {   
    position: relative;
    top: 800px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(fabric.photo.jpg); 
    background background-size: contain;
    resize: 100%;
    background-repeat: no-repeat;
    background-position: right center;
}
